<ion-header>
  <ion-toolbar>
    <ion-title>mapBox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-input type="text" [(ngModel)]="message" placeholder="Ingresa el mensaje"></ion-input>

  <h1>Markers</h1>
<!-- 
  <div *ngFor="let marker of markers">
    <ion-button (click)="flyTo(marker)">{{ marker.properties.message }}</ion-button>
    <ion-button (click)="removeMarker(marker)">Delete</ion-button>
  </div> -->

  <div class="map" id="map" #mapa></div>

</ion-content>
