<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="map" #mapa></div>

  <ion-grid>


    <ion-row>
      <ion-col>
  
       <ion-list>
  
        <ion-list-header>Usuarios</ion-list-header>
  
        <ion-item>
          <ion-label>{{user.name }}</ion-label>
        </ion-item>
  
  
       </ion-list>
  
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>

       
        
      </ion-col>
    </ion-row>
  
  
  </ion-grid>



</ion-content>
