<ion-header>
  <ion-toolbar>
    <ion-title>globallocations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid>


  <ion-row>
    <ion-col>

     <ion-list>

      <ion-list-header>Usuarios</ion-list-header>

      <ion-item>
        <ion-label></ion-label>
      </ion-item>


     </ion-list>

    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      
    </ion-col>
  </ion-row>


</ion-grid>

</ion-content>
